/*Global*/
.box{
  width: 80px;
  height: 80px;
  border: 1px solid #000;
}

.name-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Header*/
header{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: grey;
  width: 100%;
}

h1{
  color: #FFF;
  font-size: 30px;
  text-align: center;
}

/*Player Input*/
#player-input{
  width: 15%;
  margin-top: 10px;
  border: 1px solid #000;
}


/*Grid*/
#grid{
  display: flex;
  margin-top: 25px;
}

/*Number Column*/
#number-column .box{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Column One*/
